<header>
  <div class="container">

    <a class="home-link" href="/"><img src="/assets/images/logo.png" alt="urbanists.video logo"/> urbanists.video blog</a>

      <ul class="main-menu">
        {% for menuItem in nav.menu %}
          <li>
            <div>
              {% if menuItem.url === "/" %}
                {% set path = "home" %}
              {% else %}
                {% set path = menuItem.url %}
              {% endif %}
              <a href={{ menuItem.url}} class="{{ path | trimSlashes }}">{{ menuItem.label }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>

  </div>
</header>
