{% extends "layout.njk" %}

{% block body %}
  <div class="container">
    {{ contents | safe }}

    <ul class="blog-list">
    {% for blogPost in collections.posts %}

      <li>
        <a href="/{{ blogPost.path }}">
          <h2>{{ blogPost.blogTitle }}</h2>
          <time datetime="{{ blogPost.date }}">{{ blogPost.date | blogDate }}</time>
          <img class="blog-image" src="{{ blogPost.image }}" alt="{{ blogPost.blogTitle }}" />
          <div>{{ blogPost.excerpt }}</div>
          <button class="read-more">Read more</button>
        </a>
      </li>

    {% else %}
      <p class="error-message">No blog posts found</p>
    {% endfor %}
    </ul>
  </div>
{% endblock %}